<%-include('common/header');-%>
<%-include('common/loginnav');-%>
    <div class="container">
        <form id="yourresult">
        <div class="form">
        <h4><b>Roll No:</b> <%=studentResult.RollNo%><br><br>
            <b>Name:</b> <%=studentResult.Name%><br><br>
            <b>DOB:</b> <%=studentResult.Date%><br><br>
            <b>Score:</b> <%=studentResult.Score%> <br><br></h4>
        </div>
        </form>
    </div>
<%-include('common/footer');-%>